{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Register</title>
    <style>
        @font-face {
            font-family: 'Inter';
            src: url("{% static 'fonts/Inter-Regular.ttf' %}");
        }
        @font-face {
            font-family: 'Inter-Bold';
            src: url("{% static 'fonts/Inter-SemiBold.ttf' %}");
        }
        .form_cont {
            height: 80%;
        }

    </style>
</head>
<body>
    <div class="center">
        <div class="form_cont">
            <div id="logo">
                <img src="{% static 'images/shield.png' %}" alt="">
                <p>TrustShield Insurance</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" id="fName" name="fName" required placeholder="First name">

                <input type="text" id="lName" name="lName" required placeholder="Last name">

                <input type="email" id="email" name="email" required placeholder="Email">

                <input type="tel" id="phone" name="phone" required placeholder="Phone">

                <input type="password" id="password" name="password" required placeholder="Password">

                <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm password">
                <p style="font-weight: normal; font-size: 15px; margin-top: 30px;">Have an account? <a href="/login">Login.</a></p>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>