{% extends 'clientMaster.html' %}
{% load static %}
{% block style %}
<style>
    #support {color: black; font-family: 'Inter-Bold';}
</style>
{% endblock %}
{% block page %}
Support
{% endblock %}
{% block name %}
{{fName}} {{lName}}
{% endblock %}
{% block content %}
    <div class="support_cont">
        <h2>We value your feedback</h2><br>
        <p>Thank you for choosing TrustShield Insurance! Your opinion matters to us, and we would love to hear about your experience with our products/services. Your feedback helps us improve and ensures that we continue to meet and exceed your expectations.

            Please take a moment to share your thoughts with us. Whether you have suggestions for improvement, encountered any issues, or want to express your satisfaction, your feedback is invaluable</p>
        <form action="" method="post">
            <input type="email" name="email" id="email" placeholder="Email" required><br>
            <textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <div class="row_2">
        <div class="notifications">
            <div class="canvas" id="notice">
                <p>Notifications</p>
            </div>
        </div>
    </div>
-->
{% endblock %}